<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<!-- Put Your Connection String Here -->
		<!-- Like This One -->
		<!-- <add name="PlantContext" connectionString="Data Source=.;Initial Catalog=PlantTable;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
</configuration>